body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.container {
  background: white;
  width: 500px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo img {
  height: 100px;
  margin-bottom: 20px;
}

.imagens {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;
}

.i {
    flex: 1 1 300px;
    max-width: 350px;
    padding: 20px;
    border-radius: 12px;
    color: white;
    text-align: center;
}

.i img {
    width: 75%;
    height: 80%;
}

.pedro {
    background: linear-gradient(to bottom, #f87171, #dc2626);
}

.leticia     {
    background: linear-gradient(to bottom, #dc2626, #f87171);
}

.botoes {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  text-decoration: none;
  width: 25%;
  margin-top: 75px;
  margin-right: 2%;
  text-align: center;
}